<html lang="en">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- SITE TITLE  -->
	<title>Incuvest</title>

	<!-- SITE META  -->
	<meta name="description" content="AngelList without the bios">
	<meta name="keywords" content="VC list, startup">
	<meta name="author" content="Kevin Reinoso, Camilo salazar">

	<!-- MOBILE META  -->
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<!-- APPLE TOUCH ICON  -->
	<link rel="apple-touch-icon" href="img/icons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-114x114.png">


	<!--CSS
		*********************************************************************************************** -->

	<!-- BOOTSTRAP CORE CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- CUSTOM GOOGLE FONTS -->
	<link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<!--CUSTOM CSS -->
	<link href="css/style.css" rel="stylesheet">

	<link href="css/default-theme.css" rel="stylesheet">

	<!--CUSTOM RESPONSIVE CSS -->
	<link href="css/responsive.css" rel="stylesheet">

	<!--ANIMATE CSS -->
	<link href="css/animate.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<!--START NAVBAR-->

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">Incuvest</a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="active page-scroll" href="#page-top">Home</a></li>
					<li><a class="page-scroll" href="#services">Services</a></li>
					<li><a class="page-scroll" href="#team">About us</a></li>
					<li class="intro-btn">
						<button href="#login" type="button" class="btn logbtn ">Log in</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--END NAVBAR-->
	<!--END NAVBAR-->
	{{{body}}}
	<!--END NAVBAR-->
	<!--END SCROLL TO TOP BUTTON -->

	<!-- START PRELOADER -->

	<div class="loading-overlay">
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>

	<!-- START PRELOADER -->


	<!-- JAVASCRIPTS
		*********************************************************************************************** -->


	<!-- JQUERY-->
	<script src="js/jquery.js"></script>

	<!-- BOOTSTRAP CORE JAVASCRIPT -->
	<script src="js/bootstrap.min.js"></script>


	<!-- JAVASCRIPT FOR SCROLLING NAV -->
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/scrolling-nav.js"></script>

	<!-- JAVASCRIPT FOR TOOLBOX -->
	<script src="js/toolbox.js"></script>

	<!-- JAVASCRIPT FOR SCROLL TO TOP BUTTON -->
	<script src="js/scroll-top.js"></script>

	<!-- JAVASCRIPT FOR PRELOADER -->
	<script src="js/preloader.js"></script>


	<!-- JAVASCRIPT FOR WOW ANIMATION -->
	<script src="js/wow.min.js"></script>

	<script>
		new WOW().init();
	</script>

</body>

</html>
