<style media="screen">

</style>

<header id="header" class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="intro text-center wow fadeInDown" data-wow-delay="2s">
          <!--<p><span class="intro-text"> Inspire By Angelist </span></p> -->
          <h1><span class="intro-text"> Providing an unbiased online funding platform for entrepreneurs and investors. </span></h1>
          <div class="intro-btn">
            <a href="#signup" class="btn wow bounceInRight" data-wow-offset="10" data-wow-duration="2s" data-wow-delay="4s">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!--END HEADER SECTION-->

<!--START SUCCESS STORIES SECTION-->

<section id="services">
  <div class="container wow fadeInUp" data-wow-offset="10" data-wow-duration="1.5s" data-wow-delay=".3s">
    <div class="row">
      <div class="col-md-12">
        <h2>What do we do?</h2>
      </div>
    </div>
    <div class=row>
      <div class="s_stories_area">
        <div class="col-md-4 s_text">
          <h3> Funding without bias </h3>
          <p>
          Many inspiring entrepreneurs with amazing ideas are turn down from receiving the opportunity of funding because their race, creed, and gender. Back up by industry studies many minorities are actively exclude. Currently, according to cbinsight.com US populations vs Founders, only 1% of founders are black and almost none are from other minorities.
          In term of gender the inequality is even more problematic. Funding for men in the US reaches 92% and funding for women in the other hand is only 8%. We, in FounD will disrupt the industry by giving equal opportunities by eliminating bias toward start founders.

          </p>
          <div class="s_bottom">
            <p class="angle_ico"><a href="#"><i class="fa fa-angle-double-right fa-5x"></i></a></p>
          </div>
        </div>
        <div class="col-md-4 s_text">
          <h3>Creating conections</h3>
          <p>
            Here at FounD we believe funding opportunities should be available without biases. By connecting with our network of founders, investors will have the opportunity to view start-up’s progress of achievements through their road of success.  This data will provide information for example What achievements they obtain, how much profit they created, the impact they have with their target audience and how much funding they have acquired.
            Founders can present their start-ups on our platform without the fear of being ridiculed for who they are. Only the startup themselves will be available to present and be able to compete for funding.

          </p>
          <div class="s_bottom">
            <p class="angle_ico"><a href="#"><i class="fa fa-angle-double-right fa-5x"></i></a></p>
          </div>
        </div>
        <div class="col-md-4 s_text">
          <h3>Education</h3>

          <p>
            Through our profiles competition systems, we guide founders through financial literacy and the vetting process. Our founder will have the confidence to know what type of business entity they should form. The will also get to learn financial literacy in order to create a better interaction for founder and investors.

          </p>

            <div class="s_bottom">

            <p class="angle_ico"><a href="#"><i class="fa fa-angle-double-right fa-5x"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--END SUCCESS STORIES SECTION-->




<!--START TESTIMONIAIALS SECTION-->

<section id="testimonials">
  <div class="container  wow fadeInUp" data-wow-offset="10" data-wow-duration="1.5s">
    <div class="row">
      <div class="col-md-12">
        <h2>About us</h2>
        <div class='about'>
        <p>
          We are a group misfits that believes that working hard can get you to the next stage of your journey. If you are a startup founder who is seeking investors and is willing to push your business to the next level then, FounD is here for you. Just like you, we want to disrupt the existing structure of business that can be found in the startup world today.  We are a collective of individuals who found biases within the system and are willing to build the bridge to help connect your road to success for fellow “misfits” like us.

        </p>
      </div>

      </div>


    </div>
  </div>
</section>
<section id="testimonials2">
  <div class="container  wow fadeInUp" data-wow-offset="10" data-wow-duration="1.5s">
    <div class="row">
      <div class="col-md-12">
        <h2>New Startups</h2>
      </div>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner text-center">


            <!-- BOTTOM CAROUSEL INDICATORS -->
            <ol class="carousel-indicators">
							<li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive" src="img/clients/kidmoto.png" alt="Testimonial img1">
							</li>
							<li data-target="#quote-carousel" data-slide-to="1" class="active"><img class="img-responsive" src="img/clients/pinata.jpg" alt="Testimonial img2">
							</li>
							<li data-target="#quote-carousel" data-slide-to="2" class="active"><img class="img-responsive" src="img/clients/newtonx.png" alt="Testimonial img3">
							</li>
						</ol>
          </div>
        </div>

    </div>
  </div>
</section>

<!--END TESTIMONIAIALS SECTION-->
