<section id="company">
  <div class="container wow " data-wow-offset="10" data-wow-duration="1.5s" data-wow-delay=".3s">
    <div class="row">
      <div class="col-md-12">
        <h2>Kidmoto </h2>
      </div>
    </div>
  </div>

</section>
