

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
	<div class="row panel">
		<div class="col-md-2 bg_blur ">
		</div>
        <div class="col-md-8  col-xs-12">
           <img src="/img/clients/kidmoto.png" class="img-thumbnail picture hidden-xs" />
           <div class="header">
                <h1>Kidmoto Technologies</h1>
                <h4>Public transportation</h4>
                <span>Connecting families with children with drivers providing installed child seats.</p></span>
           </div>
        </div>
    </div>

	<div class="row nav">
        <div class="container">
	<div class="row">
		<div class="col-md-12">
		    <ol class="tree-structure">
              <li>
                 <span class="num">9</span>
                 <a href="#"> August</a>
                 <ol>
                    <li>
                       <span class="num"></span>
                       <a href="#">Increased 10% last monthe</a>
                    </li>

                 </ol>
              </li>
              <li>
                 <span class="num">8</span>
                 <a href="#">July</a>
                 <ol>
                    <li>
                       <span class="num"></span>
                       <a href="#">Appear on babymeetscity.com http://www.babymeetscity.com/2017/07/kidmoto-nyc-airport-travel-car-seats.html</a>
                    </li>

                 </ol>
              </li>
              <li>
                 <span class="num">8</span>
                 <a href="#">June</a>
                 <ol>
                    <li>
                       <span class="num"></span>
                       <a href="#">Organic customers decrease by 5%.</a>
                    </li>

                 </ol>
              </li>

                 </ol>
              </li>
           </ol>
		</div>
	</div>
</div>
    </div>
</div>
