<section id="Info">
  <div class="container wow " data-wow-offset="10" data-wow-duration="1.5s" data-wow-delay=".3s">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome kevin</h2>
      </div>
    </div>
  </div>
    <div class="row">
       <div class="col-md-12">
      <h3 class="subtitle">These are your portfolio updates</h5>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">

          <li>
            <img alt="pinata Day" src="./img/clients/pinata.jpg" />
            <div class="info">
              <h2 href="#PinataFC" class="title">Pinata FC</h2>
              <p class="desc">An app to make pinatas great again</p>
              <p class=updates>
                *Recently pivoted to targeting their audience via a B2C (business-to-consumer).
              </p>
            </div>
          </li>
          <li>
            <img alt="pinata Day" src="./img/clients/kidmoto.png" />
            <div class="info">
              <h2 href="#kidmoto" class="title">Kidmoto </h2>
              <p class="desc">Connecting families with children with drivers providing installed child seats.</p>
              <p class=updates>
                *Started to generate customer organically.<br />
                *Increase of customer by 10% last month.
              </p>
            </div>

          </li>
          <li>
            <img alt="pinata Day" src="./img/clients/numeraxial.png" />
            <div class="info">
              <h2 href="#Numeraxial" class="title">Numeraxial</h2>
              <p class="desc">Financial technology dedicated to helping investors manage small to large portfolios.</p>
              <p class=updates>
                -No updates...
              </p>
            </div>

          </li>
          <li>
            <img alt="pinata Day" src="./img/clients/newtonx.png" />
            <div class="info">
              <h2 href="#newtonx" class="title">NewtonX</h2>
              <p class="desc">NewtonX is an online expert marketplace connecting clients to experts</p>
              <p class="updates">
                -No updates...
              </p>
                </div>

          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
