<section id="Info">
  <div class="container wow " data-wow-offset="10" data-wow-duration="1.5s" data-wow-delay=".3s">
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome kevin</h2>
      </div>
    </div>
  </div>
  <div class="container wow " data-wow-offset="10" data-wow-duration="1.5s" data-wow-delay=".3s">

    <div class="col-md-12">
      <h5>This are your portfolio updates</h5>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">

          <li>
            <img alt="pinata Day" src="./img/clients/pinata.jpg" />
            <div class="info">
              <h2 class="title">Pinata FC</h2>
              <p class="desc">An app to make pinatas great again</p>
              <div class="glyphprogress">

                <div class="updates">
                  <div class="connecting-line"></div>
                  <ul>
                    <li>
                      <span class="glyphstep">
                  <i class="glyphicon "></i>
              </span>
                    </li>
                    <li>
                      <span class="glyphstep">
                  <i class="glyphicon "></i>
              </span>
                    </li>
                    <li>
                      <span class="glyphstep">
                  <i class="glyphicon"></i>
              </span>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

          </li>  <li>
              <img alt="pinata Day" src="./img/clients/pinata.jpg" />
              <div class="info">
                <h2 class="title">Pinata FC</h2>
                <p class="desc">An app to make pinatas great again</p>
                <div class="glyphprogress">

                  <div class="updates">
                    <div class="connecting-line"></div>
                    <ul>
                      <li>
                        <span class="glyphstep">
                    <i class="glyphicon "></i>
                </span>
                      </li>
                      <li>
                        <span class="glyphstep">
                    <i class="glyphicon "></i>
                </span>
                      </li>
                      <li>
                        <span class="glyphstep">
                    <i class="glyphicon"></i>
                </span>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>

            </li>  <li>
                <img alt="pinata Day" src="./img/clients/pinata.jpg" />
                <div class="info">
                  <h2 class="title">Pinata FC</h2>
                  <p class="desc">An app to make pinatas great again</p>
                  <div class="glyphprogress">

                    <div class="updates">
                      <div class="connecting-line"></div>
                      <ul>
                        <li>
                          <span class="glyphstep">
                      <i class="glyphicon "></i>
                  </span>
                        </li>
                        <li>
                          <span class="glyphstep">
                      <i class="glyphicon "></i>
                  </span>
                        </li>
                        <li>
                          <span class="glyphstep">
                      <i class="glyphicon"></i>
                  </span>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>

              </li>
        </ul>
      </div>
    </div>
  </div>

</section>
