
.btn, .intro-btn .btn,
#services .s_text:hover,
.services-area i:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
#scroll-top, .spinner > div, .social i:hover,
.option-box .gear-check{
	background-color: #00adef;
}

#work .work-single .work-link .caption {
    background-color:#00adef;
}

.team_single ul li i{
	color: #00adef;
}

.btn:hover, #scroll-top:hover{
    background-color: #c8f0ff;
}
.logbtn:hover{
    background-color: #c8f0ff !important;
}
